*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html , 
body {
       width: 100%;
        height: 100%;
}

#Main{
      width: 100%;
      height: 100%;
      background-color: #111;   
      display: flex;
      align-items: center;
      justify-content: center;  
}

#image{
      width: 60vw;
      height: 30vw;
}

#image img{
       background-size: cover;
       width: 100%;
       height: 100%;
}
#overlay{
     width: 60vw;
      height: 30vw;
      position: absolute;
      z-index: 10;
      background-color:transparent;
}

#cursor{
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%;
      position: fixed;
      z-index: 9;
      font-size: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
}
