* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
}
html,
body{
     width: 100%;
     height: 100%;
}

body{
      overflow-x: hidden;
}

#main{
     width: 100%;
     height: 100%;
     background-image: url(https://images.unsplash.com/photo-1517483000871-1dbf64a6e1c6?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1169);
     background-size: cover;
     background-position: center    ;
}

#nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 40px 50px;
     color: #000;
}
#nav i {
        font-weight: 800;
        font-size: 30px;
        cursor: pointer;
}
#nav h2{
       font-size: 30px;
}

#full{
      height: 100%;
      width: 40%;
      position: fixed;
      top: 0;
      right: -100%;
      background-color: #ffffff6e;
      backdrop-filter: blur(25px);
      padding: 40px 50px;
}

#full h4{
      font-size: 50px;
      font-weight: 500;
      border-bottom: 3px;
      position: relative;
}

#full i {
      position: absolute;
      top: 5%;
      right: 10%;
      font-weight: 700;
      background-color: white;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
}

